/************************************/
/****** Font Family *****************/
/************************************/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
}

/************************************/
/****** General Helper Classes ******/
/************************************/

.margin-0 {
    margin: 0 !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-right-40 {
    margin-right: 40px !important;
}

.margin-right-50 {
    margin-right: 50px !important;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.hr-style1 {
    margin-top: 15px;
    margin-bottom: 10px;
    border-top: 1px solid #1ba39c;
}

.width-200 {
    width: 200px;
}

.width-40 {
    width: 40px;
}

.text-bold {
    font-weight: 700;
}

.text-dark {
    color: #000;
}
.gray-bg {
    background-color: #ececec;
    padding: 10px 0;
}
.paddingLeftRight50 {
    padding-left: 50px;
    padding-right: 50px;
}
.marginLeftRight50 {
    margin-left: 50px;
    margin-right: 50px;
}
/*********************/
/****** Top Bar ******/
/*********************/
.page-header.navbar .page-logo .logo-default {
    margin: 5px 0 0 40px;
    height: 58px;
}

.page-header.navbar .page-logo {
    /*background-color: #4B77BE;*/
}

.page-actions {
    font-weight: 700;
    font-size: 14px;
}

.cgrpms {
    color: #ce9b04;
}

.dropdown-notification ul ul.dropdown-menu-list {
    height: 250px;
}

.reminder, .dropdown-tasks ul ul.dropdown-menu-list {
    height: 275px;
}

.reminder .from {
    font-weight: 700;
    font-size: 16px;
}

.reminder p {
    margin: 0;
}

/*********************/
/****** Footer *******/
/*********************/

.page-footer {
    background-color: #26344b;
}

.page-footer .page-footer-inner,
.page-footer a, .page-footer {
    color: #cbcbcb;
}

.page-footer .owner a {
    text-decoration: none;
    color: #f8981d;
}

/***********************************/
/****** Main Content - Global ******/
/***********************************/
.page-bar .page-title {
    margin: 0;
    padding: 5px;
    color: #000;

}

.page-bar.m-heading-1.m-bordered {
    padding: 5px;
}

/****** List View ******/
#table_list_view td {
    vertical-align: middle;
}

/****** Form ******/
.help-block {
    color: #3598dc;
}

.alert-success {
    /*background-color: #26c281;*/
    color: #148894;
    /*font-weight: 400;*/
}

/****** Table ******/
.table-hover > tbody > tr:hover, .table-hover > tbody > tr:hover > td {
    background-color: #f8cace !important;
}

.writ_petition_table > tbody > tr:hover, .writ_petition_table > tbody > tr:hover > td {
    background-color: #bfcad1  !important;
}

table caption {
    font-weight: 700;
    color: #2f353b;
}

/****** Modal ******/
.cancel-modal-text {
    font-size: 16px;
    font-weight: 700;
}

/**************Ceeckbox Styling in Modal Role Page***************************/
.checkbox-padding-left{
padding-left: 50px;
}


/****** Button ******/
.btn-return, .btn-modal-cancel, .btn-modal-close, .btn-view, .btn-edit, .btn-add-new, .btn-danger {
    letter-spacing: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-return, .btn-view, .btn-edit, .btn-danger {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-view {
    border-color: #36d7b7;
    color: #36d7b7;
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-view:active, .btn-view:active:focus, .btn-view:active:hover,
.btn-view:focus, .btn-view:hover {
    border-color: #36d7b7;
    color: #fff;
    background-color: #36d7b7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-edit, .btn-edit-big {
    border-color: #4b77be;
    color: #4b77be;
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-edit:active, .btn-edit:active:focus, .btn-edit:active:hover,
.btn-edit:focus, .btn-edit:hover, .btn-edit-big:active, .btn-edit-big:active:focus, .btn-edit-big:active:hover,
.btn-edit-big:focus, .btn-edit-big:hover {
    border-color: #4b77be;
    color: #fff;
    background-color: #4b77be;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-danger, .btn-danger-big {
    border-color: #ff4d4d;
    color: #ff4d4d;
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-danger:active, .btn-danger:active:focus, .btn-danger:active:hover,
.btn-danger:focus, .btn-danger:hover, .btn-danger-big:active, .btn-danger-big:active:focus, .btn-danger-big:active:hover,
.btn-danger-big:focus, .btn-danger-big:hover {
    border-color: #ff4d4d;
    color: #fff;
    background-color: #ff4d4d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-modal-close, .btn-return {
    border-color: #2f353b;
    color: #2f353b;
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-modal-close:active, .btn-modal-close:active:focus, .btn-modal-close:active:hover,
.btn-modal-close:focus, .btn-modal-close:hover, .btn-return:active, .btn-return:active:focus,
.btn-return:active:hover, .btn-return:focus, .btn-return:hover {
    border-color: #2f353b;
    color: #FFF;
    background-color: #2f353b;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.btn-cancel, .btn-modal-cancel {
    border-color: #d91e18;
    color: #d91e18;
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-cancel:active, .btn-cancel:active:focus, .btn-cancel:active:hover,
.btn-cancel:focus, .btn-cancel:hover, .btn-modal-cancel:active, .btn-modal-cancel:active:focus,
.btn-modal-cancel:active:hover, .btn-modal-cancel:focus, .btn-modal-cancel:hover {
    color: #fff;
    border-color: #d91e18;
    background-color: #d91e18;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.quick-nav {
    top: 60%;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.profile-th-width {
    width: 250px;
}

.profile-pic {
    height: 200px;
    width: 180px;
    margin-right: 50px;
    margin-top: 20px;
    border: 5px red;
    margin-bottom: 10px;
}

.signature {
    height: 120px;
    width: 220px;
    margin-right: 50px;
    margin-top: 20px;
    border: 5px red;
    margin-bottom: 10px;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.canvasjs-chart-credit {
    display: none;
}

.table-total {
    text-align: right;
    font-weight: 700;
    vertical-align: middle;
}

.form-control {
    border: 1px solid #BEBEBE;
    /*padding: 7px;*/
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-control:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.portlet > .portlet-title > .caption.text-center {
    float: none;
    display: block;
    text-align: center;
}

.send-section-recipients {
    width: 100%;
    padding: 20px 0;
    border: 1px solid #000;
    /*position: static;*/
    background-color: #32c5d2;
}

.send-section-recipients-label {
    margin-bottom: 0;
    position: relative;
    top: 10px;
    left: 11px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 5;
    background-color: #fff;

}

.hr-style2 {
    margin: 30px 0;
    border-top: 1px solid #ececec;
}

.print-only {
    display: none;
}
.budget_subhead_list {
    padding: 10px;
    border: 1px solid #d9d9d9;
    /*font-size: 13px;*/
}

@media all {
    .page-break { display: none; }
}

@media print {
    .print-only {
        display: block;
    }
    .page-break { 
        display: block; 
        page-break-before: always; 
    }
    .no-print
    {
        display: none !important;
    }
}

.personnel-profile-bg{
    background-color: #fafafa;
    width: auto;   
}
.personnel-profile-view{
    background-color: #fafafa;
    width: auto;
    height: 40px;
    font-weight: 400;
    padding-bottom: 6px;
}
.personnel-profile-srch{
    background-color: #fafafa;
    width: auto;
    height: 40px;
    font-weight: 400;
    padding-top: 6px;  
}
.personnel-profile-edit{
    background-color: #fafafa;
    width: auto;
    height: 40px;
    font-weight: 400;
    padding-top: 6px;   
}
.personnel-leave-bg{
    background-color: #FFCCBC;
    width: auto;   
}
.budget-closefinancialyear-bg{
    background-color: #DAF7A6;;
    width: auto;   
}

.total-payable {
    font-weight: 700;
    line-height: 34px;
    text-align: right;
}
.calculate-total-payable {
    height: 34px;
    border: 1px solid #bebebe;
}

.page-sidebar .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #fff;
    font-weight: 500;
}
.page-actions {
    font-size: 16px;
}
.page-title {
    font-size: 18px;
}

.portlet > .portlet-title {
    border-bottom: 1px solid #17c4bb;
}

.profile-icons {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 15px;
}
.profile-icons:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.profile-icons span {
    display: inline-block;
    width: 23%;
    padding-bottom: 25px;
    padding-top: 10px;
    text-align: center;
}
.profile-icons i {
    font-size: 32px;


}
.datepicker.dropdown-menu{
    background-color: #00ced1;
}

i.fa {
   display: inline-block;
}

/* Tooltip */
  .test + .tooltip > .tooltip-inner {
      background-color: #A52A2A; 
      color: #000000; 
      border: 1px solid green; 
  }
  /* Tooltip on top */
  .test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .test112 + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .test + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }
    .profile-icons .fa-exclamation-triangle{
    color: red;
    }


    .app-table th {
        text-align: center;
        vertical-align: middle;
    }
    .app-table > thead:first-child > tr:first-child > .app-table-th1 {
        border: 2px solid #000;
        border-bottom: 1px solid #e7ecf1;
    }
    .app-table.table-bordered thead > tr > .app-table-th2 {
        border-left: 2px solid #000;
    }
    .app-table.table-bordered thead > tr > .app-table-th3 {
        border-right: 2px solid #000;
    }
    .app-table > tbody > tr > .app-table-td-left {
        border-left: 2px solid #000;
    }
    .app-table > tbody > tr > .app-table-td-right {
        border-right: 2px solid #000;
    }
    .app-table > tbody > tr > .app-table-td-bottom {
        border-bottom: 2px solid #000;
    }
    .app-table .text-right {
        text-align: right;
    }
    .app-table .w-100 {
        width: 100px !important;
    }
    .app-table .w-200 {
        width: 200px !important;
    }
    .app-table .app-table-th4 {
        padding: 10px 7px;
    }
    



    .account-box1 {
    background: #3598dc;

    }
    .account-box2 {
    background: #e7505a;
    }
    .account-box3 {
    background: #8E44AD;
    }
    .progress_style{
        background: #3e4f5a;
    }
    .account-box-number{
    font-size: 20px;
    margin-bottom: 15px;
    color: #2b3038
    }
    .accounting_number{
        padding-top: 6px;
    }
    .accounting_progress{
        padding-top: 12px;
    }
    
    .dashboard-stat2 .progress-info .status {
    color: #fff;
    }
    .font-green-sharp{
     color: #fff !important;
    }
    .portlet.light>.portlet-title>.caption {
    color: #000;
    background-color: #fafafa;
    padding: 10px 30px;
    }

.btn.green:not(.btn-outline){

    background-color: #0066ff;
    border-color: #0066ff;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th,
 .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, 
 .table-bordered>thead>tr>th {
    border: 1px solid #b3b3b3;
}
.table-scrollable{
    border: 1px solid #b3b3b3;
}


/*********************/
/****** User Details Timeline *******/
/*********************/
/********************************************************************/
/*** Sub Panel ***/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}

.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
    background-color: #bce8f1;
    border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
    color: #31708f;
    background-color: #fff;
    border-color: #bce8f1;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}

/********************************************************************/
/*** Progress Bar ***/
.progress {
    position: relative;
    height: 25px;
}

.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}

.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}

/********************************************************************/
/*** Time Line ***/


img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #f5f5f6;
        /*left: 50%;*/
        top: 20px;
        bottom: 20px;
        margin-left: 30px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        /*width: 50%;
        float: right;*/
        margin-top: 5px;
        margin-left: 30px;
        margin-bottom: 10px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -20px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                box-shadow: 0 0 0 5px #f5f5f6;
                line-height: 40px;
                font-size: 15px;
                float: left;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                background: #f5f5f6;
                padding: 1em;
                margin-left: 60px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #f5f5f6 transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }
   
    .modal-title {
        font-weight: 700;
    }

.table > tfoot > tr > th.th-style1 {
    padding: 8px;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border-top: 1px solid #4b6b17;
    border-top-color: rgba(44, 79, 96, 0.8);
    color: #ffffff;
}
.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li.open.active > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
    background: #fff;
    color: #000;
    letter-spacing: 1px;
    box-shadow: 0px 4px 25px -5px #fff;
}

.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
    background: #144ba8 !important;
}
.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open::before, .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow::before {
    color: #ece610;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open::before, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow::before, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open::before, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow::before, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open::before, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow::before {
    color: #e1221d;
}
.page-header.navbar .page-logo {
    background: #115CCE;
}
.page-header.navbar .page-logo:hover {
    background: #852106;
}
.none.field {
    display: none;
}
.table-horizontal-responsive {
    height: 500px;
    overflow-y: scroll;
}
.index_report{
    color: #000;
    font-weight: bold;
}
.profile-picture img
{
    margin: 0 auto;
}
.portlet.light .dataTables_wrapper .dt-buttons {
    margin-top: 0;
}
.dataTables_wrapper .dt-buttons {
    float: left;
}
.z-index-9999 {
    z-index: 9999;
}

.panel-primary > .panel-heading {
    border-bottom: 1px solid;
}
.panel-primary > .panel-heading:hover {
    opacity: 0.85;
}
.panel-title a:hover {
  color: #fff;
}



.portlet.light > .portlet-title {
  min-height: 5px !important;
}
.portlet.light {
  padding: 12px 20px 0px !important;
}
.text-underline {
    text-decoration: underline;
}
.page-sidebar .page-sidebar-menu>li.active.open>a:hover, .page-sidebar .page-sidebar-menu>li.active>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover{
    background: #fff;
}
.view_table_width{
    width: 450px;
}
.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container{
    padding: 8px;
}

.table_heading{
    background-color: #cdcdcd !important;
    color: black !important;
}
td {
    border-color: #DDDDDD !important;
}

.col-md-2_15
{
    width: 15.25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.fc-unthemed .fc-list-item .fc-event-dot {
    background:#adb5ca;
    border-color:#adb5ca;
}
.fc-unthemed .fc-list-item.m-fc-event--solid-brand .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--brand .fc-event-dot {
    background:#716aca;
    border-color:#716aca;
}
.fc-unthemed .fc-list-item.m-fc-event--solid-metal .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--metal .fc-event-dot {
    background:#c4c5d6;
    border-color:#c4c5d6;
}
.fc-unthemed .fc-list-item.m-fc-event--solid-light .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--light .fc-event-dot {
    background:#fff;
    border-color:#fff;
}
.fc-unthemed .fc-list-item.m-fc-event--solid-accent .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--accent .fc-event-dot {
    background:#00c5dc;
    border-color:#00c5dc;
}

.fc-unthemed .fc-list-item.m-fc-event--solid-focus .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--focus .fc-event-dot {
    background:#9816f4;
    border-color:#9816f4;
}
.fc-unthemed .fc-list-item.m-fc-event--solid-primary .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--primary .fc-event-dot {
    background:#5867dd;
    border-color:#5867dd;
}
.fc-unthemed .fc-list-item.m-fc-event--solid-success .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--success .fc-event-dot {
    background:#34bfa3;
    border-color:#34bfa3;
}
.fc-unthemed .fc-list-item.m-fc-event--solid-info .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--info .fc-event-dot {
    background:#36a3f7;
    border-color:#36a3f7;
}
.fc-unthemed .fc-list-item.m-fc-event--solid-warning .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--warning .fc-event-dot {
    background:#ffb822;
    border-color:#ffb822;
}
.fc-unthemed .fc-list-item.m-fc-event--solid-danger .fc-event-dot,
.fc-unthemed .fc-list-item.m-fc-event--danger .fc-event-dot {
    background:#f4516c;
    border-color:#f4516c;
}
.fc-unthemed .fc-list-item .fc-event-dot {
    border-radius: 50% !important;
}

.fc-event-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
.fc-unthemed .fc-event, .fc-unthemed .fc-event-dot {
    background: #fff;
    border: 1px solid #ebedf2;
    border-top-color: rgb(235, 237, 242);
    border-right-color: rgb(235, 237, 242);
    border-bottom-color: rgb(235, 237, 242);
    border-left-color: rgb(235, 237, 242);
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.fc-unthemed .fc-event, .fc-unthemed .fc-event-dot {
    padding: 0;
    border-radius: 4px;
}

.mt-element-list .list-default.ext-1.mt-list-head .list-count {
    border: none;
    font-weight: 600;
    background-color: #2f353b;
    color: #fff;
}

.mt-element-list .list-default.ext-1.mt-list-head .list-count.last {
    background-color: #26C281;
}

.tabs-left.nav-tabs > li > a {
    font-size: 20px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #86c8f6;
    font-color: white;
}

.col-md-half {
    width: 4.33333%;
}

.number-stats > div {
    border-right: 3px solid #bfbfbf !important;
}

.blink_red {
    color: #FF0000;
    animation: blinker 1200ms ease-in infinite;
}
.blink_orange {
    color: #e7830b;
    /*animation: blinker 1200ms ease-in infinite;*/
}
.blink_yellow {
    color: #d5e90c;
    /*animation: blinker 1200ms ease-in infinite;*/
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}