html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
}

body {
    font-family: 'Maven Pro', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    top: 0;
    left: 0;
}

.loglogo {

    display: block;
    margin: auto;
    width: 40%;
}

img.loglogo {
    height: 80px;
    width: 80px;
}

.login {
    position: absolute;
    max-width: 600px;
    margin: 5% auto;
    margin-left: 25%;
    padding: 60px 60px;
    background: rgba(12, 12, 12, 0.9);
    background-size: cover;
    box-shadow: 0px 30px 60px -5px #000;
    z-index: 999;
}

.registration {
    position: absolute;
    max-width: 800px;
    width: 96%;
    margin: 5% auto;
    padding: 60px 60px;
    background: rgba(12, 12, 12, 0.9);
    background-size: cover;
    box-shadow: 0px 30px 60px -5px #000;
    z-index: 999;
}

.half-area-left {
    float: left;
    width: 46%
}

.half-area-right {
    float: right;
    width: 46%
}

form {
    padding-top: 30px;
}

.active {
    border-bottom: 2px solid #E83242;
    text-align: center;
    padding-top: 20px;
}

.nonactive {
    color: rgba(255, 255, 255, 0.2);
}

h2 {
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

h2:first-child {
    padding-left: 0px;
}

span {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.7;
    display: inline-block;
    position: relative;

    transition: all 0.5s ease-in-out;
}

.text {
    border: none;
    width: 435px;
    padding: 10px 20px;
    color: #fff;
    display: block;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: all 0.5s ease-in-out;
}

.text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.text:focus + span {
    opacity: 0.6;
}

.txtarea {
    height: 127px
}

input[type="text"], input[type="password"] {
    font-family: 'Maven Pro', sans-serif;
    color: #fff;
}

input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
}

h2, span, .custom-checkbox {
    margin-left: 10px;
}

.custom-checkbox {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

.custom-checkbox:checked {
    background-color: #E83242;
}

.custom-checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #fff;
}

.custom-checkbox:focus {
    outline: none;
}

label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
}

.signin {
    background-color: #18187a;
    color: #FFF;
    width: 479px;
    padding: 10px 20px;
    display: block;
    height: 41px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}

.signin:hover {
    background: #fff;
    color: #000;
    letter-spacing: 5px;
    box-shadow: 0px 4px 35px -5px #fff;
}

.signin:focus {
    outline: none;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.24);
    /* top: 85px; */
    position: relative;
    margin-top: 40px;
}

.forget {
    text-align: center;
    display: block;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 640px) {

    .login, .registration {

        padding: 20px;

    }

    .half-area-left, .half-area-right {
        margin: 0;
        width: 100%
    }
}

body{
    height:auto;
    margin:0;
}

#ocean{
    position:absolute;
    width:100%;
    min-height:100%;
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(0,50,150)),
            color-stop(0.50, rgb(0,150,255))
    );
}

.wave{
    background:#a8e3ff;
    display:inline-block;
    height:60%;
    width:10px;
    position:absolute;
    -webkit-animation-name:             dostuff;
    -webkit-animation-duration:         3s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: ease-in-out;
}


@-webkit-keyframes dostuff{
    0%{
        height:60%;
    }
    50%{
        height:40%;
    }
    100%{
        height:60%;
    }
}